.card {
  list-style-type: none;
  position: relative;
  max-width: 282px;
  height: 361px;
  background-color: #ffffff;
  border-radius: 10px;
}

.card__image {
  width: 282px;
  height: 282px;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
  gap: 40px;
}

.cards__list {
  margin: 25px 15px 31px 21px;
}

.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 10px;
}

.card__title {
  font-family: Inter;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 220px;
}

.card__like-button {
  background: transparent url("../images/like_button.png") center no-repeat;
  width: 21px;
  height: 19px;
  border: none;
  background-size: 21px 19px;
  cursor: pointer;

  transition: 0.3s;
}

.card__like-button :hover {
  opacity: 0.5;
  transform: scale(1.3);
}

.card__like-button-active {
  opacity: 1;
  background: transparent url("../images/like_button_active.png") center
    no-repeat;
}

.card__delete-button {
  background: transparent url(../images/delete_button.png) center no-repeat;
  background-size: 18px 19px;
  width: 18px;
  height: 19px;
  border: none;
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
}

.card__delete-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 544px) {
  .cards__list {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
