.popup__content {
  position: relative;
  max-width: 40vw;
  /* max-height: 75vh; */
  display: flex;
}

.popup__image {
  object-fit: contain;
  max-width: 420px;
  min-width: 100%;
  margin: auto;
}

.popup__close {
  width: 40px;
  height: 40px;
  background: transparent url("../images/close_button.png") center no-repeat;
  border: none;
  position: absolute;
  top: -36px;
  right: -36px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.8;
}

.popup__image-title {
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #ffffff;
  position: absolute;
  bottom: -30px;
  left: 1px;
}
