.profile {
  display: flex;
  margin: 40px auto 0;
  max-width: 880px;
}

.profile__image-container {
  position: relative;
  cursor: pointer;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__image-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  /*pointer-events: none;*/
}

.profile__image-container:hover .profile__image-icon {
  opacity: 1;
}

.profile__image-container:hover .profile__image {
  opacity: 0.6;
}

.profile__info {
  max-width: 415px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.profile__name-button {
  display: flex;
}

.profile__name {
  font-family: Inter;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin-bottom: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 300px;
}

.profile__job {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 300px;
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  margin: 18px 18px 0 18px;
  background: transparent url("../images/edit_button.png") center no-repeat;
  border: 1px solid #fff;
  margin-left: 18px;
  align-self: center;
  cursor: pointer;
}
.profile__add-image-button {
  background: transparent url("../images/add_button.png") center no-repeat;
  border: 1px solid #fff;
  width: 150px;
  height: 50px;
  margin: 13px 0 14px auto;
  align-self: center;
  cursor: pointer;
}

.profile__edit-button:hover,
.profile__add-image-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 544px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }

  .profile__name {
    font-size: 22px;
  }

  .profile__job {
    font-size: 14px;
    text-align: center;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin: 0;
    margin-left: 10px;
  }

  .profile__add-image-button {
    margin: 36px auto 36px;
  }
}
