@import "./blocks/card.css";
@import "./blocks/footer.css";
@import "./blocks/header.css";
@import "./blocks/page.css";
@import "./blocks/popup.css";
@import "./blocks/imagepopup.css";
@import "./blocks/profile.css";
@import "./blocks/root.css";
@import "../src/vendor/fonts.css";
